/*气泡start*/
.sec_map_tip {
    position: absolute;
    height: 26px;
    line-height: 26px;
    border-radius: 3px;
    background: #fff;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.sec_map_tip:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -4px;
    bottom: -8px;
    border-width: 8px 4px 0;
    border-style: solid;
    /*border-color: #fff transparent transparent;*/
}
.sec_map_tip.sec_tip_1:after{
    border-color: #298df1 transparent transparent;
}
.sec_map_tip.sec_tip_2:after{
    border-color: #46be3b transparent transparent;
}
.sec_map_tip.sec_tip_3:after{
    border-color: #ff9d1d transparent transparent;
}
.sec_map_tip.sec_tip_4:after{
    border-color: #eb122f transparent transparent;
}
.sec_map_tip.sec_tip_5:after{
    border-color: #8d67f2 transparent transparent;
}
.sec_map_tip.sec_tip_6:after{
    border-color: #07ada3 transparent transparent;
}
.sec_map_tip.sec_tip_7:after{
    border-color: #ECCC22 transparent transparent;
}
.sec_map_tip.sec_tip_8:after{
    border-color: #AAA transparent transparent;
}
.sec_map_tip.sec_tip_9:after{
    border-color: rgba(0, 24, 61, 0.6) transparent transparent;
}

.sec_tip_text {
    /*margin-right: 40px;*/
    padding: 0 12px;
    /*color: #4b5b68;*/
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
/** 蓝  **/
.sec_tip_1 {
    border: 2px solid #298df1;
    background: #298df1;
}
/** 绿  **/
.sec_tip_2 {
    border: 2px solid #46be3b;
    background: #46be3b;
}
/** 橙  **/
.sec_tip_3 {
    border: 2px solid #ff9d1d;
    background: #ff9d1d;
}
/** 红  **/
.sec_tip_4 {
    border: 2px solid #eb122f;
    background: #eb122f;
}
/** 紫  **/
.sec_tip_5 {
    border: 2px solid #8d67f2;
    background: #8d67f2;
}
/** 青  **/
.sec_tip_6 {
    border: 2px solid #07ada3;
    background: #07ada3;
}
/** 黄  **/
.sec_tip_7 {
    border: 2px solid #ECCC22;
    background: #ECCC22;
}
/** 灰  **/
.sec_tip_8 {
    border: 2px solid #AAA;
    background: #AAA;
}
/** 灰  **/
.sec_tip_9 {
    background: rgba(0, 24, 61, 0.6);
}

.sec_tip_1:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: #298df1 transparent transparent;
}
.sec_tip_2:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: #46be3b transparent transparent;
}
.sec_tip_3:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: #ffa733 transparent transparent;
}
.sec_tip_4:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: #eb122f transparent transparent;
}
.sec_tip_5:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: #8d67f2 transparent transparent;
}
.sec_tip_6:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: #07ada3 transparent transparent;
}
.sec_tip_7:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: #ECCC22 transparent transparent;
}
.sec_tip_8:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: #AAA transparent transparent;
}
.sec_tip_9:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -10px;
    border-width: 10px 6px 0;
    border-style: solid;
    border-color: rgba(0, 24, 61, 0.6) transparent transparent;
}

.sec_tip_1 .sec_tip_perc {
    background: #3e98f2;
}
.sec_tip_2 .sec_tip_perc {
    background: #46be3b;
}
.sec_tip_3 .sec_tip_perc {
    background: #ffa733;
}
.sec_tip_4 .sec_tip_perc {
    background: #eb122f;
}
.sec_tip_5 .sec_tip_perc {
    background: #8d67f2;
}
.sec_tip_6 .sec_tip_perc {
    background: #07ada3;
}
.sec_tip_7 .sec_tip_perc {
    background: #ECCC22;
}
.sec_tip_8 .sec_tip_perc {
    background: #AAA;
}
/*气泡end*/

/* 地图柱子start */
.mapCount-fig {
    position: absolute;
    /* transform: translate(0,-100%); */
}

.mapCount-fig .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 42px;
    height: 100%;
    animation: barGrow 1s;
}

.mapCount-fig .barTop {
    display: block;
    position: absolute;
    left: 0;
    top: -6px;
    width: 100%;
    height: 12px;
    border-radius: 100%;
}

.mapCount-fig .num {
    display: block;
    position: absolute;
    top: -34px;
    left: 50%;
    margin-left: -28px;
    width: 56px;
    height: 26px;
    line-height: 26px;
    font-family: Arial;
    font-size: 20px;
    color: #fff;
    background: rgba(0, 24, 61, 0.6);
    text-align: center;
    z-index: 5;
}

.mapCount-fig .num:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-width: 4px 5px 0;
    border-style: solid;
    border-color: rgba(0, 24, 61, 0.6) transparent transparent;
}

@keyframes barGrow {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.mapcount-01 .bar {
    background: linear-gradient(to bottom, rgba(179,247,163, 1), rgba(179,247,163, 0));
}

.mapcount-01 .barTop {
    background: rgba(179,247,163, 1);
}

.mapcount-02 .bar {
    background: linear-gradient(to bottom, rgba(92,201,96, 1), rgba(92,201,96, 0));
}

.mapcount-02 .barTop {
    background: rgba(92,201,96, 1);
}

.mapcount-03 .bar {
    background: linear-gradient(to bottom, rgba(119,194,255, 1), rgba(119,194,255, 0));
}

.mapcount-03 .barTop {
    background: rgba(119,194,255, 1);
}

.mapcount-04 .bar {
    background: linear-gradient(to bottom, rgba(46,116,255, 1), rgba(46,116,255, 0));
}

.mapcount-04 .barTop {
    background: rgba(46,116,255, 1);
}

.mapcount-05 .bar {
    background: linear-gradient(to bottom, rgba(251,52,255, 1), rgba(251,52,255, 0));
}

.mapcount-05 .barTop {
    background: rgba(251,52,255, 1);
}

.mapcount-06 .bar {
    background: linear-gradient(to bottom, rgba(252,63,63, 1), rgba(252,63,63, 0));
}

.mapcount-06 .barTop {
    background: rgba(252,63,63, 1);
}
/* 地图柱子end */
